[submodule "themes\\split"]
	path = themes\\split
	url = https://github.com/christianmendoza/hugo-split-theme.git
[submodule "public"]
	path = public
	url = git@github.com:suarezguisuraga/suarezguisuraga.github.io.git
	branch = master
